<!doctype html>
<html>
<head>
<title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 

</head>
<body>
<div align="center">
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
	<form name="client" action="/login" method="post">
		Email: <input type="text" name="Email">
		<br>
		<br>
		Password: <input type="text" name="Password">
		<br>
		<br>
		<input type="submit" value="Login">
	</form> 
</div>
</body>
</html>
