<!doctype html>
<html>
<head>
<title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 

</head>
<body>
<div align="center">
<h1>Here is Profile</h1>
	<% if (user.Email) { %>
			<p>
		        <strong>login email</strong>: <%= user.Email %><br>
		        <strong>login password</strong>: <%= user.Password %><br>
		        <strong>login usertype</strong>: <%= user.Usertype %><br>
		       	<!-- <form method="POST" action="/api/users/?_method=PUT">
				  	New Password: <input type="text" name="Password"><button type="submit">Change</button>
				</form> -->
				<hr>
				<h2>Create Schedule</h2>
				<a href="/api/schedules"><button>My-Schedule</button></a>
				<br>
				<br>
				<form name="client" action="/api/schedules" method="post">
					Event: <input type="text" name="Event">
					Time: <input type="text" name="Time">
					<input type="submit" value="Create">
				</form> 
		    </p>
	    	<% if(user.Usertype==="admin") { %>
	    		<hr>
	    		<h2>Admin Only</h2>
	    		<a href="/api/users"><button>users-info</button></a>
	    		<br>
	    		<br>
	    		<form method="POST" action="/api/users/?_method=DELETE">
				  Email: <input type="text" name="Email"><button type="submit">Delete</button>
				</form>
	    	<% } %>
	<% } %>
</div>
</body>
</html>
