<!doctype html>
<html>
<head>
<title>SignUp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 

</head>
<body>
<div align="center">
	<form name="client" action="/signup" method="post">
		Email: <input type="text" name="register_user">
		<br>
		<br>
		Password: <input type="text" name="register_pass">
		<br>
		<br>
		<input type="submit" value="Register">
	</form> 
</div>
</body>
</html>
